
:root {
    --color-principal-fondo  : hsl(100, 100%, 100%);
 
    --color-principal        : hsl(0, 0%, 17%);
    --color-secundario       : hsl(0, 0%, 59%);

    --color-principal-hover  : hsl(0, 0%, 5%);
}